<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  
  
  <title>Home Page</title>
</head>


<body style = "background-color: #d8e4f1">
  <img title="signUpBackgroundImage" id ="signUpBackgroundID" class="center" src="/images/puppiesSignUp.png" alt="looks amazing" style="
    position: absolute;
    margin-top: 160px;
    display: block;
    margin-right: auto;
    margin-left: 300px;
">
  {{{body}}}
</body>

</html>
