.list-group-item {
  line-height: 2.5;
}

/**{
    border-radius: 5px;
    border: 1px solid blue
}*/

#jumbo{
  height:20vh;
  padding-top:0px;
  padding-bottom:0px;
  margin-bottom: 0rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 4;
  background-color: white;
}
#SLH{

  position: relative;
  top: -1vh;
  left: 7vw;
  height: 19vh;
}
#logo{

  position: relative;
  top: -1vh;
  left: 7vw;
  height: 19vh;
}
#logo{
  position: relative;
  top: -1vh;
  left: 7vw;
  height: 19vh;
}
.links{
  position: absolute;
  top: 5vh; 
  /* width:15vw; */
  /* height:4vh; */
  /* left:79.5vw; */
  right: 41px;
}
.boneButton{
  position: relative;
}
#home{
  /*position: relative;
  top:20vh;*/
  margin-top:18vh;
  height:80vh;
}
#homeImage{
  background: url(../images/DogsHomePage.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}
#mission{
  position: relative;
  left: 40vw;
  top: 40vh;
  z-index:3;
  background-color: #F6F7F8;
  /* height:45vh; */
  width:35vw;
}
#user{
  margin-top:18vh;
  height:80vh;
  /* background-color:#D4F6F7; */
  background-color: #d8e4f1;
}
.user{
  position: relative;
  background-image: "./images/backgroundColor_Profile.jpg";
  /*background-color: #B3CDCE;*/
  height:60vh;
  width: 50vw;
  top:10vh;
  left:10vw;
}
.liButton{
  margin-right:10px;
  height:25px;
  width:25px;
}
.fas, .far{
  position: relative;
  top:-6px;
  left:-7px;
}
.userButtonContainer{
  position: relative;
  width:20%;
  left:5px;
}
.cuteDog{
  position: relative;
  top:20vh;
  left:17vw;
  height:40vh;
}
#calendar{
  height:122vh;
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
}
/*#map{
  position: relative;
  top:5vh;
  left: vw;
  height:77%;
  width:834px;
}*/
#mapHolder{
  height:80vh;
  background-color: pink;
  /*max-width: 900px;*/
  margin: 0 auto;
}
/*#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
.mapKey{
  position: relative;
  top:1vh;
  height:25vh;
}*/
#footer{
  height:80vh;
  background:url(../images/footerTry1.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.developer{
  position: relative;
  top: 5vh;
  width:20vw;
  height: 56vh;
  margin-left: 4vw;
}
.developerImage{
  position: relative;
  left:3.5vw;
  width:12vw;
  height:18vh;
}
.developerBtn{
  border-radius: 5px;
}

.dogList{
  position: relative;
  top:6vh;
  left:9vw;
  height:57vh;
  width:48vw;
}
.cuteDog5{
  position: relative;
  top:9vh;
  height:40vh;
}
#dogInfo{
  background: url(../images/dogData.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:80vh;
  width:100vw;
  margin-top:20vh;
}
.dogButtonContainer{
  width:5vw;
  margin-right: 2.5vw;    
  float:right;
}
.cuteDog4{
  position: relative;
  top:9vh;
  height:40vh;
  width:27vw;
}

#map {
  height: 100%;
  width: 640px;
  position: relative;
  left: -4vw;
}

/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

/* .map-control {
        background-color: #3E7AB2;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(39, 31, 13, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        display: none;
        } */

    /* .controls:focus {
      border-color: #4d90fe;
    }
*/
    /* .title {
      font-weight: bold;
    } */

    #infowindow-content {
      display: none;
    }

    #map #infowindow-content {
      display: inline;
      
    }
   
/* #blue {

} */
/* #purple {
width: 20px;
height: 20px;
}

#blueicon {
width: 30px;
height: 30px;
} */
/* .row {
margin-top: 70px;
} */
#marker {
border-bottom: 1px solid lightgray;

}
#blueIcon, #purpleIcon {
padding-left: 20px;
}
.mapCard {
position: relative;
/* margin-left: 220px; */
left: 14vw;
}
#legendContainer {
padding: 30px;
position: absolute;
}
#ladywalking {
position: relative;
left: 21vw;
top: -11vh;
}
#manwalking { 
position: relative;
left: 20vw;
}